*{
    margin: 0;
    padding: 0; 
    color: #333; 
}

:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
  }
  .home{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
.container{
    display: flex;
  width: 60%;
  height: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #56a5eb;
    padding: 5rem;
    border-radius: 5px;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: #56a5eb;
  margin-bottom: 5rem;
 
}

h2{
    font-size: 3rem;
    margin-bottom: 5rem;
}
.btn{
font-size: 2rem;
display: flex;
align-items: center;
justify-content: center;
margin:1rem;
padding:0.8rem;
width:12rem;
height: 4rem;
text-decoration: none;
border-radius: 5px;
border: 1px solid #56a5eb;
color: #56a5eb;
background-color: white

}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }



  /* .submitbtn{
    font-size: 1.8rem;
display: flex;
align-items: center;
justify-content: center;
margin:1rem;
padding:1rem;
width:14.5rem;
height: 5rem;

border-radius: 5px;
border: 1px solid #56a5eb;
color: #56a5eb;
background-color: white
  }
  .submitbtn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  } */
  .correct{
    background-color: #28a745;
  }
  
.incorrect{
    background-color: #dc3545;
  }


/* forms */
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
input{
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder{
  color: #aaa;
}